h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

.section-inside {
    width: 650px;
    background-color: #fff;
    padding: 30px 25px;
    border: 1px #ccc solid;
  }

.contact-form ul {
  margin-bottom: 20px;
}

.contact-form li {
  margin-bottom: 10px;
}

label,
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
}

input[type="text"],
input[type="email"],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}
